@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

body {
    background-color: var(--very-light-gray);
}

.container {
    height: auto;
    margin: 0 auto;
}

.main-container {
    padding: 1em 0;
    width: 1200px;
}

.flex-container {
    display: flex;
}

.card-container {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-header {
    text-align: center;
    width: 500px;
}

.main-header h2 {
    font-size: 2em;
    font-weight: 200;
    color: var(--grayish-blue);
}

.main-header h1 {
    font-size: 2em;
    padding: 0.1em 0 0.2em;
}

.main-header span {
    font-weight: 200;
    color: var(--grayish-blue);
}


.card-wrapper {
    flex-direction: column;
}

.card {
    background-color: #fff;
    width: 375px;
    border-radius: 3%;
    margin: 1em 0;
    padding: 1.3em 3em 1em 2em;
}

.card-header {
    font-size: 1.3em;
    font-weight: 600;
}

.card-body {
    padding: 1em 0 3em;
    color: var(--grayish-blue);
}

.card-footer {
    text-align: end;
}

.card.supervisor { border-top: 5px solid var(--cyan); }
.card.team-builder { border-top: 5px solid var(--red); }
.card.karma { border-top: 5px solid var(--orange); }
.card.calculator { border-top: 5px solid var(--blue); }


@media only screen and (max-width: 500px) {
    .main-container, .card-container, .main-header{
        width: 375px;
    }
} 